[submodule "driver/STM32L496VGT6P"]
	path = driver/STM32L496VGT6P
	url = https://github.com/bassem-mostafa/WDG_STM32L496VGT6P.git
[submodule "port/Flow_Meter"]
	path = port/Flow_Meter
	url = https://github.com/bassem-mostafa/WDG_Flow_Meter.git
